body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#ffffff;
    margin: 0;
}

/* reset */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    cursor: pointer;
    margin: auto;
 }

/* common */
  
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
 
.header-container {
    display: flex;
    align-items: center;

}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo {
    padding: 24px 0;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
    display: block;
}

.header-logo-span {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
    color: #404bbf;
    font-style: normal;
}

.nav-link:hover::before,
.address-link:hover::after {
    background-color: #03a9f4;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-page {
    width: 1440px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    position: relative;
}

.hero-section {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 188px 0;
    margin: 0 auto;
}

.hero-container {
    margin: auto;
    box-sizing: border-box;
    max-width: 1440px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    height: 120px;
    max-width: 496px;
    margin-top: 320px;
   
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 16px;
    height: 56px;
    margin-top: 48px;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    font-style: normal;
}

.page-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.page-list {
    display: flex;
    align-items: center;
    flex-basis: calc((100% - 72px) / 3);
    gap: 24px;
}

.page-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.page-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}

.page-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background: #f4f4fd;
    padding-top: 120px;
    width: 100%;
    height: 732px;
    padding: 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    background: #ffffff;
}

.container-team-list {
    padding: 32px 0 32px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.svg-social {
    fill: #f4f4fd;
}

.team-item-title {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-item-text {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    background-color: #4d5ae5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .overlay {
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
}

.portfolio-item {
    background-color: #FFFFFF;
    flex-wrap: wrap;
    width: calc((100% - 48px) / 3);
    transform: translateY(0%);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-portfol-item {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}

.portfolio-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer {
    color: #f4f4fd; 
    background-color: #2e2f42;
    width: 100%;
    height: 312px;
    display: flex;
    padding-top: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-cont {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    height: 72px;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item.box:hover,
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.svg-social-footer {
    fill: #f4f4fd;
}

.footer-container-form {
   margin-left: 80px;
}

.text-subcr {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.input-footer {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: #ffffff;
    background-color: transparent;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #4d5ae5; 
    border: none;
}

.footer-name-svg {
    fill: #ffffff;
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

    
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.modal-button {
    position: absolute;
    margin-left: 350px;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg {
    position: absolute;
    fill: #0e0e0f;
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, 
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-button:hover .close-svg,
.modal-button:focus .close-svg {
    fill: #ffffff;
}


.form-text-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form {
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    border: none;
    background-color: #fcfcfc;
}

.label-wrap {
    margin-bottom: 8px;
}

.label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.input-wrap {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    color: #212121;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus, 
textarea:focus {
    border-color: #4D5AE5;
}

.form-input:focus ~ .form-name-svg {
    fill: #4d5ae5;
}

.textarea-popup:focus + .input-check {
    border-color: #4D5AE5;
}

.form-name-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-textarea {
    margin-bottom: 16px;
}

.form-input::placeholder {
    color: #616161;
}

.textarea-popup { 
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-field {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 8px;
}

.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkbox {
    background-color: #e7e9fc;
}

.accent {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.accept-svg {
    transform: translateY(-10%);
    padding: 0;
   
}

.link-checkbox {
    color: #4d5ae5;
}

.input-check:checked + .label-checkbox > .accent {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
}

.input-check:focus + .label-checkbox>.accent {
    background-color: #404bbf;
}
 
.form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
    margin-top: 24px;
}

