.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
    margin: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* commom */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }        
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo-span {
    color: #2e2f42;
}
 
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link.current {
        position: relative;
     }
    
   .nav-link.current::after {
     content: "";
     position: absolute;
     border-radius: 2px;
     width: 100%;
     height: 4px;
     left: 0;
     bottom: -1px;
     background-color: #404bbf;
   }
 
   .nav-link:hover,
   .nav-link:focus,
   .address-link:hover,
   .address-link:focus,
   .nav-link.current {
       color: #404bbf;
       font-style: normal;
   }

   .address-list {
       display: flex;
       flex-direction: column;
       gap: 12px;
   }
   
   .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
    
    .header-logo {
       margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: translateX(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0; 

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.mobile-menu-contain {
    position: fixed;
    margin-left: 16px;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;

}

.mobile-menu-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    left: 24px;
    border-radius: 50%;
    margin-left: 272px;
   
    stroke-width: 1px;
    stroke: #2e2f42;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-svg-menu {
    fill: #0e0e0f;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.nav-list-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-item-menu { 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    flex-basis: calc((100% - 2 * 40px) / 3);
}

.address-list-mob-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.address-menu-mail {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #4d5ae5;
    flex-basis: calc((100% - 24px) / 2);
}

.address-link-mob {
    color: #2e2f42;
}

.address-link-mob:hover,
.address-link-mob:focus,
.nav-link-menu:hover {
    color: #4d5ae5;
}

.menu-social-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-social-item {
    width: 40px;
    height: 40px;
}

.menu-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
}

.svg-social-menu {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
    display: none;
    }
}

@media screen and (min-width: 1158px) {
    .mobile-menu {
        display: none;
        }
}

/* hero */

.hero-section {
    width: 100%;
    max-width: 320px;
    min-height: 420px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/dark.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(46, 47, 66, 0.7);
    background-size: cover;
    box-sizing: border-box;
    text-align: center;
    display: flex;
}

.hero-container {
    margin: auto;
    box-sizing: border-box;
   
}

.hero-title {
    width: 216px;
    height: 160px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: auto;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 16px 32px;
    height: 56px;
    margin-top: 72px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    font-style: normal;
}

@media screen and (min-width: 768px) {
    .hero-section {
        justify-content: center;
        max-width: 1157px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    }

    .hero-title {
        width: 496px;
        height: 120px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        align-items: center;
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        min-width: 1580px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    
        box-sizing: border-box;
        justify-content: center;
        padding: 188px 0;
        margin: 0;
        }

    .hero-title {
            width: 496px;
            height: 120px;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            align-items: center;
    }
}

/* page */

.container-page {
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 320px;
}

.page-section {
    padding: 96px 16px;
}

.page-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 320px;
    gap: 72px;
    margin: 0 auto;
}

.page-item {
    max-width: 288px;
    width: 100%;  
}

.page-svg {
    display: none;
}

.page-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.page-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .container-page {
        max-width: 768px;
        margin-bottom: auto;
    }

    .page-title {
        text-align: left;
    }

    .page-list {
        max-width: 734px;
        max-height: 320px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
        row-gap: 20px;
    }

    .page-item {
        width: calc((100% - 48px) / 2);
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .container-page {
        justify-content: space-between;
    }

    .page-section {
        padding: 120px 0;
    }

    .page-list {
        max-width: 1128px;
        flex-wrap: nowrap;

        display: flex;
        justify-content: center;
        flex-basis: calc((100% - 72px) / 3);
        gap: 24px;
    }
    
    
    .page-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        padding: 24px 100px;
        margin-bottom: 8px;
        }
    
    .page-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2e2f42;
            margin-bottom: 8px;
    }
    
    .page-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

}

/* our team */

.team-section {
    background-color: #f4f4fd;
    width: 100%;
    padding: 96px 0;
}

.container-team-list {
    padding: 28px 0 32px;
}

.team-title {
    min-width: 162px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    flex-direction: column;
   
    gap: 72px;
    margin: 0 auto;
}

.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 72px) / 4);
    background: #ffffff;
}

.team-social-link {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.svg-social {
    fill: #f4f4fd;
}

.team-item-title {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-item-text {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .team-section {
        min-height: 1124px;
    }

    .container-team {
        padding: 108px 0 108px;
    }

    .team-list {
        min-width: 734px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        row-gap: 72px;
    }

    .team-item {
        min-width: 264px;
        min-height: 428px;
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

}

@media screen and (min-width: 1158px) {
    .team-section {
        min-height: 1140px;
    }

    .container-team {
        justify-content: space-between;
        padding: 120px 0 120px;
    }

    .team-list {
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .team-item {
        flex-direction: calc((100% - 3 * 24px) / 4);
    }

}


/* portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    flex-basis: calc((100% - 5 * 48px) / 6);
    background-color: #FFFFFF;
    min-width: 288px;
    min-height: 400px;
}

.overlay {
    display: none;
}

.portfolio-img {
    height: 280px;
    width: 288px;
}

.container-portfol-item {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 288px;
        height: 120px;
}

.portfolio-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.port-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        background-color: #FFFFFF;
        flex-wrap: wrap;
        flex-basis: calc((100% - 5 * 24px) / 6);
    }

    .portfolio-img {
        max-height: 300px;
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .portfolio-item {
       background-color: #FFFFFF;
       flex-wrap: wrap;
       width: calc((100% - 48px) / 3);
       transform: translateY(0%);
       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .box {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        display: inline;
        position: absolute;
        background-color: #4d5ae5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .box:hover .overlay {
        transform: translateX(0);
        transition: transform 250ms ease-in-out;
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

}

/* footer */

.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    width: 100%;
    min-block-size: 664px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding-top: 96px;
    gap: 72px;
}

.footer-logo-cont {
    margin-right: 16px;
    text-align: center;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-align: center;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    height: 72px;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    align-items: center;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-social-footer {
    fill: #f4f4fd;
}

.text-subcr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}

.input-footer {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: #ffffff;
    background-color: transparent;
    padding-left: 16px;
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
}

.footer-name-svg {
    fill: #ffffff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        row-gap: 72px;
    }

    .footer-logo-cont {
        margin-left: 108px;
        text-align: left;
    }

    .logo-footer {
        text-align: left;
    }

    .social-media-text {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
        text-align: left;
    }

        .input-footer {
            width: 264px;
        }

    .text-subcr {
        text-align: left;
    }

}

@media screen and (min-width: 1158px) {

    .footer-container {
        align-items: baseline;
        flex-wrap: nowrap;
    }

    .footer-logo-cont {
        margin-right: 120px;
    }

    .footer-social-item.box:hover,
    .footer-social-link:hover,
    .footer-social-link:focus {
            background-color: #31d0aa;
    }

    .footer-container-form {
        margin-left: 80px;
    }

        .footer-logo-cont {
            width: 264px;
            height: 112px;
            margin-left: 156px;
        }

}

/* form */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}

.modal-button {
    position: absolute;
    margin-left: 350px;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg {
    position: absolute;
    fill: #0e0e0f;
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-button:hover .close-svg,
.modal-button:focus .close-svg {
    fill: #ffffff;
}

.form {
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    border: none;
    background-color: #fcfcfc;
}

.label-wrap {
    margin-bottom: 8px;
}

.label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.input-wrap {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    color: #212121;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
textarea:focus {
    border-color: #4D5AE5;
}

.form-input:focus + .form-name-svg {
    fill: #4d5ae5;
}

.textarea-popup:focus + .input-check {
    border-color: #4D5AE5;
}

.form-name-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-textarea {
    margin-bottom: 16px;
}

.form-input::placeholder {
    color: #616161;
}

.textarea-popup {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-field {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 8px;
}

.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkbox {
    background-color: #e7e9fc;
}

.accent {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.accept-svg {
    transform: translateY(-10%);
    padding: 0;
}

.link-checkbox {
    color: #4d5ae5;
}

.form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .input-check:checked+.label-checkbox>.accent {
        border: none;
        fill: #F4F4FD;
        background-color: #404bbf;
    }
    
    .input-check:focus+.label-checkbox>.accent {
         background-color: #404bbf;
    }
}


@media screen and (min-width: 1158px) {
    .modal {
        width: 408px;
        height: 584px;
    }
}


